*.vpcf_c
*.vcss_c
*.vjs_c
*.vxml_c
*.vtex_c
*.vmat_c
*.bin
*.vpk
game/frostivus/scripts/vscripts/.idea/workspace.xml
game/frostivus/scripts/vscripts/.idea/vscripts.iml
game/frostivus/scripts/vscripts/.idea/modules.xml
game/frostivus/scripts/vscripts/.idea/misc.xml
game/frostivus/scripts/vscripts/.idea/codeStyleSettings.xml
game/frostivus/resource/word_filter_1.txt
game/frostivus/panorama_debugger.cfg
game/frostivus/panorama_debugger.cfg
robocopy.bat
