.BenchPanel
{
  animation-name: oscillate;
  pre-transform-scale2d: .5;

  width: 200px;
  height: 240px;

  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#Row1
{

}

#Row2
{
  margin-top: 100px;
}

#Progress 
{
  background-color: red;

  height: 100%;
  margin: 2px;
  transition-duration: 0s;
  transition-property: width;
  transition-timing-function: linear;
}

.Row
{
  flow-children: right;
}

.Slot
{
  width: 90px;
  height: 90px;

  border-radius: 50%;

  background-position: 60% 60%;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-image: url("s2r://panorama/images/icon_plus_white_png.vtex");

  opacity-mask: url("file://{images}/custom_game/ui/button_mask.png");
}

.Icon
{
  horizontal-align: center;
  vertical-align: center;

  /*height: 100%;*/
  transform: scale3d(1.3, 1.3, 1.3);

  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.Ring {
  margin: 5px;
  vertical-align: middle;
}

.Outline {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-image: url("s2r://panorama/images/hud/reborn/buff_outline_psd.vtex");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  wash-color: #8bdd4f;

  transition-property: clip;
  transition-duration: 0s;
  transition-timing-function: ease-in;
}

.OutlineYellow {
  wash-color: #ffda27;
}

#OutlineBG {
  wash-color: #bbbbbb;
}

.Single {
  width: 125px;
  height: 125px;
}

.Centered {
  horizontal-align: center;
  vertical-align: center;
}

.Single .Icon {
  transform: scale3d(1.8, 1.8, 1.8);
}

.Hide 
{
  opacity: 0;
}

.Collapse
{
  visibility: collapse;
}

@keyframes 'oscillate'
{
  0%   {transform: translateX( 0px ) translateY( 0px );}
  50%  {transform: translateX( 0px ) translateY( 25px );}
  100% {transform: translateX( 0px ) translateY( 0px );}
}