.MessageCenterRoot {
	height: 100%;
}

#message_center_panel {
	width: 400px;
	height: 50%;
	vertical-align: bottom;
	margin-bottom:30%;

	flow-children: down;
}

.MessageRoot {
	min-height: 40px;
	width: 400px;
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #1a6d00ff ), color-stop(0.7, #1a6d00cc), to( #1a6d0000 )) ;
	border-left: 5px solid #4a4b49;

	margin-top: 5px;

	animation-name: MessageJoin;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

	transition-property: y;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.Negative.MessageRoot {
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #830f0fff ), color-stop(0.7, #830f0fcc), to( #830f0f00 )) ;
}

@keyframes 'MessageJoin'
{
	0%
	{
		transform: translateX( 200px);
	}
	100%
	{
		transform: translateX( 0px);
	}
}