#orders {
	flow-children: right;
	margin-left: 50px;
	opacity: 0.9;
	height: 220px;
	width: 100%;
}

.OrderRoot {
	flow-children: down;
	margin-left:2px;
	margin-right:2px;
	margin-top:-10px;

	transition-property: transform, opacity, position;
	transition-duration: 0.5s;
}

.OrderAppear {
	transform: translateY(-75px);
	opacity: 0.0;
}

.TimeRunningOut.OrderRoot {
	animation-name: ShakeUpDown;
	animation-duration: 0.6s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'ShakeUpDown'
{
	0%
	{
		transform: translateY( 4px);
	}
	50%
	{
		transform: translateY( -4px);
	}
	100%
	{
		transform: translateY( 4px);
	}
}


.OrderMain {
	flow-children: down;
	width: 100%;
	height: 125px;

	z-index:0;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #373742 ), color-stop(0.2, #4C4C5C), color-stop(0.85, #2B2C33), to( #484A57 ) );
/*
	background-image:url("file://{resources}/images/custom_game/ui/order_bg.png");
	background-size: 100%;*/

	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

#time_remaining_bg {
	margin-top: 10px;
	height: 15px;
	width: 100%;

	background-color: #00000080;
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #2B2C33 ), to( #484A57 ) );*/

	box-shadow: fill #2B2C33B8 0px 2px 8px 0px;
}

#time_remaining {
	height: 15px;
	width: 100%;
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #014101FF ), to( #1cf927FF ) );

 	transition-timing-function: linear;
 	transition-duration: 1s;
 	transition-property: width, background-color;
}

.TimeRunningOut #time_remaining {
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #410101FF ), to( #f91c27FF ) );
}

.ProductImagePanel {
	width: 88px;
	height: 64px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 15px;
	border: 3px solid #7e8197;

	box-shadow: #2B2C33B8 0px 0px 8px 0px;
}

#ProductImage {
	width: 88px;
	height: 64px;
	border: 2px solid #73758d;
}

.OrderBottom {
	z-index:-10;
	/*padding-left: 2px;*/
	/*padding-right: 2px;*/
}

.AssembliesImage {
	flow-children: right;
	horizontal-align: center;
	margin-left: 10px;
	margin-right:10px;
	margin-top:-10px;
}

.AssemblyImagePanel {
	width:70px;
	height: 60px;

	border: 2px solid #555871;

	border-bottom-left-radius: 9px;
	border-bottom-right-radius:9px;
	border-top-style: none;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2B2C33B8 ), color-stop(0.2, #2B2C33B8), color-stop(0.7, #373742), to( #484A57 ) );

	background-image:url("file://{resources}/images/custom_game/ui/order_bg.png");
	background-size: 100%;
}

.AssemblyImagePanel DOTAItemImage {
	width: 44px;
	height: 32px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
	border:2px solid #4d5169;

	box-shadow: #2B2C33B8 0px 0px 8px 0px;
}

.OrderMainShadow {
	height: 30%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #383844ff ), to( #3c3e4800 ) );
}