@keyframes 'slideDown' {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  5% {
    transform: translateY(-80%);
  }
  10% {
    transform: translateY(-60%);
  }
  15% {
    transform: translateY(-40%);
  }
  20% {
    transform: translateY(-20%);
  }
  25%{
    transform: translateY(8%);
  }
  30%{
    transform: translateY(-4%);
  }
  35%{
    transform: translateY(4%);
  }
  40%{
    transform: translateY(-2%);
  }     
  45% {
    transform: translateY(0%);
  }   
  80% {
    opacity: 1;
    transform: translateX(0%);
  }
  90% {
    pre-transform-scale2d:0.5;
    
  }
  100% {
    
    pre-transform-scale2d:0.01;
  }   
}

.ReadySetGoPanel {
 vertical-align: middle;
 horizontal-align:middle;

}

#ReadySetGoPanel {
 vertical-align: middle;
 horizontal-align:middle;
 z-index: 2;
 width:20%;
 height: 20%;
 animation-name: slideDown;
 animation-duration:2s;
 opacity: 0;
}

