
.WelcomeScreenRoot {
	width: 100%;
	height: 100%;
}

.WelcomeScreenBackground {
	width: 100%;
	height: 100%;
}

.GameLogo {
	horizontal-align: center;
	/*margin-top: -100px;*/
	width: 575px;
	height: 247px;
	/*transform: rotateZ( 3deg);*/
}

.CountDownTimer {
	flow-children: right;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 240px;

	transform: scale3d(0.68, 0.68, 1.0);
}

.TimerColon {
	background-image:url("file://{resources}/images/custom_game/generic/digits.psd");
	width: 40px;
	height: 108px;
	background-repeat: no-repeat;
	background-position: -640px 0px;
}

.TimerDigit {
	background-image:url("file://{resources}/images/custom_game/generic/digits.psd");
	width: 64px;
	height: 108px;
	background-repeat: no-repeat;
	background-position: -0px 0px;
}


.ButtonsPanel {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: down;

	margin-bottom: 50px;
}

.Button {
	width: 420px;
	height: 110px;
	margin-left: 20px;
	margin-right: 20px;

	border-radius: 10px;
}

.Button .Label {
	color: white;

	align: center center;
	font-size: 90px;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

#button_ready {
	width: 260px;
	height: 90px;
	vertical-align: bottom;
}

#button_start_tutorial {
	width: 260px;
	height: 90px;
	vertical-align: bottom;
}

.Button:hover {
	brightness: 2;
}

/*player card*/

.PlayerCardPanel {
	vertical-align: center;
	horizontal-align: center;
	height: 520px;

	margin-bottom: 50px;

	flow-children: right;
}

.PlayerCardRoot {
	height: 520px;
	width: 420px;

	box-shadow: #000000B8 2px 2px 8px -2px;
}

.PlayerHeroArt {
	width: 100%;
	height: 340px;
}

.PlayerInfoArea {
	vertical-align: bottom;
	width: 100%;
	background-color: #232323aa;
	padding-top: 15px;
}

.PlayerCardOverlay {
	width: 100%;
	height: 100%;

	background-image:url("file://{resources}/images/custom_game/welcome_screen/player_card.png");
}

.PlayerName {
	vertical-align: bottom;
	color: white;
	font-size: 30px;
	width: 100%;
	margin-left: 90px;
	margin-bottom: 10px;
}

.PlayerPortrait {
	width : 80px;
	height: 80px;
	vertical-align: bottom;
	margin-left:10px;
	margin-bottom: 10px;

}

.ImageCache {
	visibility: collapse;
}